a,
body,
div,
h2,
html,
img,
p,
span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

:focus {
    outline: 0
}

body {
    font-family: Open Sans, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

a {
    color: #2ea3f2
}

a,
a:hover {
    text-decoration: none
}

p {
    padding-bottom: 1em
}

p:not(.has-background):last-of-type {
    padding-bottom: 0
}

h2 {
    color: #333;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500
}

h2 {
    font-size: 26px
}

img {
    max-width: 100%;
    height: auto
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.et_pb_button:after {
    font-family: ETmodules !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0 0;
    direction: ltr
}

.et_pb_button {
    font-size: 20px;
    font-weight: 500;
    padding: .3em 1em;
    line-height: 1.7em !important;
    background-color: transparent;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 2px solid;
    border-radius: 3px;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: all !important;
    transition-property: all !important
}

.et_pb_button {
    position: relative
}

.et_pb_button:hover {
    border: 2px solid transparent;
    padding: .3em 2em .3em .7em
}

.et_pb_button:hover {
    background-color: hsla(0, 0%, 100%, .2)
}

.et_pb_button:after,
.et_pb_button:before {
    font-size: 32px;
    line-height: 1em;
    content: "\35";
    opacity: 0;
    position: absolute;
    margin-left: -1em;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-transform: none;
    -webkit-font-feature-settings: "kern" off;
    font-feature-settings: "kern" off;
    font-variant: none;
    font-style: normal;
    font-weight: 400;
    text-shadow: none
}

.et_pb_button:before {
    display: none
}

.et_pb_button:hover:after {
    opacity: 1;
    margin-left: 0
}

.et_pb_column {
    float: left;
    background-size: cover;
    background-position: 50%;
    position: relative;
    z-index: 2;
    min-height: 1px
}

.et_pb_column {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat
}

@media (max-width:980px) {
    .et_pb_column {
        width: 100%;
        margin-bottom: 30px
    }
}

@media (max-width:479px) {
    .et_pb_column {
        width: 100% !important
    }
}

.dizo_image_hover_46 .dih_img_wrapper .dih_image {
    opacity: 1 !important
}

.dizo_image_hover_46 .dih_img_wrapper .et_pb_button_wrapper {
    justify-content: center
}

.dizo_image_hover_46,
.dizo_image_hover_46 * {
    transition: all 300ms ease 0ms !important
}

.dizo_image_hover_46 .dih_img_wrapper .dih_image img {
    height: 430px
}

.dizo_image_hover_46 .dih_title span.prefix {
    color: #000000 !important
}

.dizo_image_hover_46 {
    margin-bottom: 4px
}

.dizo_image_hover_46 .dih_img_wrapper .dih_title .prefix {
    background-color: #ffffff !important;
    padding-top: 8px !important;
    padding-right: 10px !important;
    padding-bottom: 8px !important;
    padding-left: 10px !important
}

@media only screen and (max-width:980px) {

    .dizo_image_hover_46 .dih_img_wrapper .dih_image img {
        height: 430px !important
    }
}

@media only screen and (max-width:767px) {

    .dizo_image_hover_46 .dih_img_wrapper .dih_image img {
        height: 430px !important
    }

    .dizo_image_hover_46 .dih_title,
    .dizo_image_hover_46 .dih_title span {
        font-size: 15px !important
    }

    .dizo_image_hover_46 .dih_img_wrapper .dih_text {
        padding-top: 3px !important;
        padding-right: 5px !important;
        padding-bottom: 3px !important;
        padding-left: 5px !important
    }
}

:root {
    --background-color: #08122f
}

.dih_img_wrapper .dih_text p {
    padding-bottom: 0
}

.dih_img_wrapper .dih_content_wrapper,
.dih_img_wrapper .et_pb_button_wrapper {
    text-align: center
}

.dih_img_wrapper .dih_title {
    padding: 0
}

.dih_img_wrapper,
.dih_img_wrapper .dih_content_wrapper,
.dih_img_wrapper .dih_image,
.dih_img_wrapper .dih_text,
.dih_img_wrapper .dih_title,
.dih_img_wrapper span.infix,
.dih_img_wrapper span.prefix,
.dih_img_wrapper span.suffix {
    border-style: solid
}

.dih_img_wrapper .et_pb_button_wrapper {
    margin-top: 15px
}

.dih_img_wrapper .et_pb_button.dih_button,
.dih_img_wrapper .et_pb_button_wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

.dih_img_wrapper .et_pb_button.dih_button {
    border: 2px solid #ffffff85;
    color: #fff;
    z-index: 99 !important;
    font-size: 14px;
    padding: 10px 28px;
    font-weight: 700;
    cursor: pointer
}

.et_pb_button.dih_button:hover {
    border: 2px solid #fff;
    color: #fff
}

.dih_img_wrapper .dih_title {
    display: inline-block;
    width: 100%;
    color: #fff
}

.dih_img_wrapper .dih_title .infix,
.dih_img_wrapper .dih_title .prefix,
.dih_img_wrapper .dih_title .suffix {
    display: -ms-inline-flexbox;
    display: inline-flex
}

.dih_container .dih_img_wrapper .dih_image img {
    display: block !important;
    width: 100%;
    margin: auto;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.dih_img_wrapper.modern_style .dih_content_wrapper {
    z-index: 999 !important
}

.dih_img_wrapper.modern_style {
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer
}

.dih_img_wrapper.modern_style .dih_image {
    position: relative;
    display: block;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    opacity: .8
}

.dih_img_wrapper.modern_style .dih_content_wrapper {
    padding: 1.5em;
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.dih_img_wrapper.modern_style .dih_content_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9
}

.dih_img_wrapper.modern_style .dih_text {
    z-index: 222
}

.dih_img_wrapper.modern_style .dih_content_wrapper .dih_title {
    font-weight: 300
}

.dih_img_wrapper.modern_style .dih_content_wrapper .dih_title .suffix {
    font-weight: 800
}

.dih_img_wrapper.modern_style .dih_content_wrapper .dih_text,
.dih_img_wrapper.modern_style .dih_content_wrapper .dih_title {
    margin: 0;
    position: relative
}

.dih_img_wrapper.modern_style .dih_content_wrapper .dih_text {
    letter-spacing: 1px
}

.dih_img_wrapper.mdn-lexi {
    background-image: var(--background-image, -webkit-linear-gradient(-45deg, #000, #fff));
    background-image: var(--background-imae, linear-gradient(-45deg, #000, #fff))
}

.dih_img_wrapper.mdn-lexi .dih_image {
    margin: -10px 0 0 -10px;
    max-width: none !important;
    width: calc(100% + 10px) !important;
    opacity: .9;
    -webkit-transform: translate3d(10px, 10px, 0);
    transform: translate3d(10px, 10px, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.dih_img_wrapper.mdn-lexi .dih_content_wrapper:before,
.dih_img_wrapper.mdn-lexi .dih_image,
.dih_img_wrapper.mdn-lexi .dih_text {
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    -o-transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s
}

.dih_img_wrapper.mdn-lexi .dih_content_wrapper:before {
    position: absolute;
    right: -100px;
    bottom: -100px;
    width: 350px;
    height: 350px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 900px hsla(0, 0%, 100%, .2);
    box-shadow: 0 0 0 900px hsla(0, 0%, 100%, .2);
    content: "";
    opacity: 0;
    -webkit-transform: scale3d(.5, .5, 1);
    transform: scale3d(.5, .5, 1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.dih_img_wrapper.mdn-lexi:hover .dih_image {
    opacity: .6;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.dih_img_wrapper.mdn-lexi .dih_title {
    text-align: left;
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    -o-transition: transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(5px, 5px, 0);
    transform: translate3d(5px, 5px, 0)
}

.dih_img_wrapper.mdn-lexi .dih_text {
    position: absolute !important;
    right: 0;
    bottom: 0;
    padding: 0 1.5em 1.5em 0;
    width: 200px;
    text-align: right;
    opacity: 0;
    -webkit-transform: translate3d(20px, 20px, 0);
    transform: translate3d(20px, 20px, 0)
}

.dih_img_wrapper.mdn-lexi:hover .dih_content_wrapper:before {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.dih_img_wrapper.mdn-lexi:hover .dih_text,
.dih_img_wrapper.mdn-lexi:hover .dih_title {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}